@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-section{
    width: 100%;
    background: linear-gradient(115deg, #b3fffb, #e50cfe, #3498db);
    /* z-index: 1;
    position: absolute; */
}

.mainLogo{
    width: 6.5rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: 0px 1px 20px #BBD4FB;
}
.nav-link {
    color: white;
    font-size: 1.3rem;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    background-color: #8415ce;
    border-radius: 5rem;
    border: none;
    color: white;
} 
.nav-link:active{
    background-color: #5E009E;
    border-radius: 5rem;
    border: none;
    color: white;
} 

.navbar-brand-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.Logo-text .logo-text-1{
    color: #530076;
    font-size: larger;
}


.Logo-text .logo-text-2{
    color: #E93E71;
    font-size: larger;
}

.nav-links{
    display: flex;
    gap: 2rem;
}
